/* Importación de las fuentes e iconos */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

/* reseteo de estilos predefinidos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables de entorno */
:root {
    --fondo-pag: #801b40;
    --fondo-alt: #000319;
    --color-blanco: white;
    --color-azul-grisaceo: #6495ed;
}

html {
    scroll-behavior: smooth;
}
/* Estilos del cuerpo de la página */
body {
    background-color: var(--fondo-pag);
    color: var(--color-blanco);
    font-family: "Quicksand", sans-serif;
}
/* Estilos de la barra de navegación */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo-alt);
    width: 100%;
    padding: 25px;
    position: fixed;
    z-index: 1;
}

.nav > i {
    font-size: 32px;
}

.nav > i:hover{
    color: var(--fondo-pag);
    transition: .3s;
    cursor: pointer;
}
/* Estilos para los anchor */
.lists-link{
    display: flex;
    align-items: center;
    gap: 8px;
}

.lists-link a {
    color: var(--color-blanco);
    text-decoration: none;
}

.lists-link a:hover {
    color: var(--fondo-pag);
    transition: .3s;
}
/* Estilo para el anchor que actua como botón */
.btn-suscribe{
    background-color: var(--fondo-pag);
    padding: 12px;
    border-radius: 12px;
}

.btn-suscribe:hover {
    background-color: var(--color-blanco);
    color: var(--fondo-pag);
}
/* estilos de la sección dentro del header */
.introduce {
    display: flex;
    flex-direction: column;
    padding: 60px;
    height: 780px;
    gap: 23px;
    justify-content: center;
    background-image: url('https://wallpapers.com/images/hd/destiny-the-taken-king-4k-gaming-y31a8hm3p7kpqjzt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--color-azul-grisaceo);
    background-blend-mode: multiply;
}
/* Estilos para el botón de "Reserva ahora" */
.reserva {
    width: 250px;
    color: var(--color-blanco);
    text-align: center;
    text-decoration: none;
}
/* Estilos aplicados para el main */
main {
    padding: 0 35px;
}

.catalogo > h2 {
    margin-bottom: 12px;
}
/* Estilos para sección catalogo */
.catalogo {
    padding: 40px 0;
    padding-left: 60px;
    scroll-margin-top: 60px;
}
/* Estilos para cada card dentro de la sección .catalogo */
.card-typegame{
    display: inline-block;
    width: 15%;
    background-color: var(--fondo-alt);
    border-radius: 15px;
    margin: 10px 20px;
}

.card-typegame:hover{
    -webkit-box-shadow: 6px 4px 20px 0px var(--color-blanco);
    -moz-box-shadow: 6px 4px 20px 0px var(--color-blanco);
    box-shadow: 6px 4px 20px 0px var(--color-blanco);
    transition: .3s;
    transform: skew(0deg, 3deg);
}

.card-typegame > img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-typegame_text {
    text-align: center;
    padding: 15px;
}
/* Estilos para la sección precios */
.precios {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-alt);
    scroll-margin-top: 60px;
    padding: 40px 60px;
    gap: 15px;
    border-radius: 12px;
}

.precios > h2 {
    text-align: center;
}
/* Estilos para las card del precio */
.card-precio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    border-radius: 12px;
}

.card-precio > img {
    width: 150px;
    height: 150px;
}
/* Estilos para el botón de alquilar */
.btn-alq {
    background-color: var(--fondo-pag);
    color: white;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.btn-alq:hover {
    background-color: var(--color-blanco);
    color: var(--fondo-pag);
    transition: .3s;
}
/* Estilos para la sección para visualizar un vídeo */
.video-sala {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px;
}

.video-sala iframe {
    width: 100%;
}
/* Estilos de la sección de suscribirse */
.suscribe {
    display: flex;
    flex-direction: column;
    gap: 18px;
    scroll-margin-top: 60px;
    padding: 40px 0;
}

.suscribe > h2 {
    text-align: center;
}

.suscribe-contenido {
    display: flex;
    gap: 12px;
}
/* Estillos del formulario de suscribirse */
.suscribe-contenido form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--fondo-alt);
    flex: 1;
    gap: 8px;
    border-radius: 20px;
}
/* Estilos para cada campo */
.campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.campo input {
    padding: 12px;
}

.campo textarea {
    padding: 12px;
    resize: none;
}
/* Estilo para el botón del form */
.btn-submit {
    border: none;
    color: var(--color-blanco);   
    cursor: pointer;
}

.btn-submit:hover {
    box-shadow: 0px 0px 4px 4px var(--fondo-pag);
    transition: .3s;
}
/* Estilos para la ubicación */
.ubicacion {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ubicacion iframe {
    width: 100%;
}

.ubicacion > h3 {
    text-align: center;
}
/* Estilos para el píe de página */
.pie-pagina {
    background-color: var(--fondo-alt);
    padding: 40px;
}

.contenido-footer{
    display: flex;
    justify-content: space-evenly;
}

.redes {
    display: flex;
    gap: 25px;
}

.redes i {
    font-size: 24px;
    color: var(--color-blanco);
}